.header__link {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  transition: all .25s;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
  margin-left: 24px;
}

.header__link:hover {
  opacity: 0.8;
}
