.element__btn-like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/disabled.svg);
    background-size: cover;
    transition: all .25s;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: #fff;
}

.element__btn-like:hover {
    opacity: .5;
}